


.navegacion{
    background-image: url(Clau_pag_foto_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    height: 705px;
    align-items: start;
    margin: 0 auto;
}

.logo{
    background-color: rgb(236, 241, 245);
    opacity: value;
    display: flex;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    height: 40px;
    width: 778px;
    padding-top: 10px;
    padding-left: 120px;
    
}

.menu{
    background-color: rgb(236, 241, 245);
    display: flex;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    height: 40px;
    width: 778px;
    padding-top: 10px;
    padding-left: 50px;
    }

    .menu a{
        text-decoration: none;
        margin-left: 40px;
        font-size: 18px;   
        color: black;
    }

    .logo p1{
        margin-left: 170px;
        text-decoration: none;
        font-size: 18px;   
        color: black;
    }

.sobremi{
    background-color: red;
    display: flex;
    height: 700px;
    width: 1400px;
    }

.fotosobremi{
    width: 700px;
}

.textosobremi{
    width: 700px;  
}

.mipropuesta{
    background-color: beige;
    display: flex;
    padding: 300px;
}

.contacto{
    background-color: blueviolet;
    display: flex;
    padding: 300px;
}